<img src="http://www.how-to-draw-cartoons-online.com/image-files/wizard-of-oz-flying-monkey.gif"><!-- replace with image served by asset pipeline -->
<h1>Welcome to Sky Monkey</h1>
  <p>Sky Monkey is a helicopter tour operator. We provide the best helicopter tours anyone has ever offered. You'll love them</p>

  <%= link_to 'Buy Tickets', new_customer_path, {class: 'btn btn-default', type: 'submit'} %>
