$(document).ready(function() {
  $("#boarding_pass_quantity").change(function() {
    var tkt_qty = $('#boarding_pass_quantity').val();
    var price = <%= Rate.todays_price %>

    $('#total-val').text('$' + (price * tkt_qty).formatMoney(2));
  });

  $('#checkout-button').click(function() {
    $('#checkout-flash').append("<div class='alert alert-success'>Please wait for your boarding pass to be generated.</div>");
  });
});
