<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      table {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
      }

      td {
        border-left: solid 10px #000;
        padding: 0;
        margin: 0;
        width: 0px;
        height: 10px;
      }

      td.black { border-color: #000; }
      td.white { border-color: #fff; }
  </head>
  <body>
    <h1>Thanks for flying Sky Monkey, <%= @customer.name %></h1>
    <p>
      <% if @customer.boarding_passes.last.quantity > 1 %>
        Here are your boarding passes.
      <% else %>
        Here is your boarding pass.
      <% end %>
    </p>
    <p><%= raw @qr.as_html %></p>
    <p> Your boarding pass is also attached to this email</p>
    <p>Thanks for using Sky Monkey! Enjoy your flight!</p>
  </body>
</html>
